*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    padding: 1.5rem 0;
  }
.container {
    width: 1140px !important;
    margin: auto;
    box-sizing: border-box;
  }
  .text {
    text-align: center;
    text-transform: uppercase;
  }
  #main {
    background: white;
    width: 1140px;
    overflow: hidden;
    margin: auto;
    border-radius: 25px;
    padding: 0px 50px 50px 50px;
    box-sizing: content-box;
  }
  .img img {
    width: 100%;
    border-radius: 25px;
  }
  .img-title {
    font-size: 3rem;
  }
  .img-description {
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.7;
    width: 50rem;
  }
  .prep-text {
    background: #f3e5d8;
    padding: 30px;
    border-radius: 20px;
  }
  .prep-title {
    font-size: 25px;
    font-family: sans-serif;
    color: #8a0019ba;
  }
  .prep-list {
    font-family: sans-serif;
    line-height: 1.7;
    color: #464646;
  }
  .prep-time {
    margin-top: 3rem;
  }
  .ingredients {
    margin-top: 4rem;
    font-family: sans-serif;
  }
  .ing-title-main {
    font-family: normal;
    font-size: 40px;
    color: #8c0019;
  }
  .ing-lists {
    color: #444;
    font-size: 18px;
    line-height: 1.7 !important;
  }
  .instructions {
    margin-top: 3rem;
    font-family: sans-serif;
  }
  .ins-title {
    font-family: normal;
    font-size: 40px;
    color: #8c0019;
  }
  .ins-list {
    color: #444;
    line-height: 1.5;
    width: 50rem;
    font-size: 18px;
  }
  .nutrition {
    margin-top: 3rem;
    font-family: sans-serif;
  }
  .nut-title {
    font-family: normal;
    font-size: 40px;
    color: #8c0019;
  }
  .nut-text {
    font-size: 18px;
    color: #444;
  }
  
.nut-table {
    margin-top: 1rem;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    text-align: center;
  }
  .table tr td, .table tr th {
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid #8c001936;
  }